/* HYPHY VISION */

.fa-rotate-45 {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.fa-rotate-135 {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.hyphy-omega-line-reference {
    stroke: #000;
    stroke-width: 6px;
    opacity: 1;
}

/* aBSRESL */
.hyphy-omega-bar line, .hyphy-omega-bar path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.hyphy-omega-line {
    stroke: #000;
    stroke-width: 6px;
}

.hyphy-axis path, .hyphy-axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.hyphy-axis-label {
    font: 18px sans-serif;
}

.hyphy-axis text {
    font: 12px sans-serif;
}

.hyphy-weight-label {
    font: 14px sans-serif;
    text-anchor: middle;
}

.hyphy-neutral-line {
    stroke-dasharray: 2,10;
    stroke: #000;
    stroke-width: 1px;
}

.hyphy-displacement-line {
    fill: none;
    stroke: #000;
    opacity: 0.7;
    stroke-width: 1.5px;
}

#hyphy-chart-image {
  display : none;
}

#hyphy-chart-canvas {
  display : none;
}

/* BUSTED */
.hyphy-busted-axis path,
.hyphy-busted-axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.hyphy-busted-area {
  fill: steelblue;
}

.hyphy-busted-site-table {
 margin-top: 20px;
}

.hyphy-busted-btn-export {
  margin: 5px;
}

.hyphy-busted-dist-export {
  margin-left: 5px;
}

.hyphy-blue {
 color: #1f77b4
}

.hyphy-red {
  color: #d62728;
}

.hyphy-navy {
  color: #001f3f;
}

#table-branch-table tr{
  cursor : pointer;
}

#hyphy-logo {
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 15px;
}

.logo {
    font-family: "Noto Sans";
    font-weight: 900;
    color: #00a99d!important;
}

.fixed{
    position: fixed;
}

.nav-pills a {
    color: #00a99d;
}

.nav-pills a:hover {
    color: #7EC6B3;
}

.nav-pills > li.active > a {
    color: #fff;
    background-color: #00a99d;
}

.nav-pills > li.active > a:hover {
    background-color: #7EC6B3;
}

#summary-method-name {
    color: #00a99d;
    font-family: "Montserrat";
}

.dm-table-header {
    background-color: #00a99d;
    color: #FFF;
    text-align: center;
    padding: 5px 5px 5px 5px;
}

table.dm-table > thead > tr > th,
table.dm-table > thead > th {
    color: #00a99d;
}

.hyphy-highlight {
    color: #00a99d;
}

#summary-pmid {
    color: #00a99d;
}

#input-info {
    line-height: .5;
    text-align: center;
    border: 5px solid;
    border-image: linear-gradient(#03AA9D, #7EC6B3) 10;
    padding: 10px;
}

div#input-info span {
    font-family: "Montserrat";
    font-weight: 700;
}

div#input-info p {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 14px;
}

.main-result{
  background-color: #EEE;
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  border-color: #00A99D;
  padding: 10px 10px 10px 10px;
}

div.main-result p {
  font-family: "Noto Sans";
  color: #545454;
  font-size: 15px;
}

div.main-result hr {
  border-top: 1px solid #AAA;
  margin-top: 10px;
  margin-bottom: 10px;
}

tbody > tr {
  background-color: #EEE;
}

/* Bootstrap-docs scroll spy */
/* sidebar */
.bs-docs-sidebar {
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* all links */
.bs-docs-sidebar .nav>li>a {
  color: #999;
  border-left: 2px solid transparent;
  padding: 4px 20px;
  font-size: 13px;
  font-weight: 400;
}
/* nested links */
.bs-docs-sidebar .nav .nav>li>a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
  font-size: 12px;
}
/* active & hover links */
.bs-docs-sidebar .nav>.active>a,
.bs-docs-sidebar .nav>li>a:hover,
.bs-docs-sidebar .nav>li>a:focus {
  color: #00a99d;
  text-decoration: none;
  background-color: transparent;
  border-left-color: #00a99d;
}
/* all active links */
.bs-docs-sidebar .nav>.active>a,
.bs-docs-sidebar .nav>.active:hover>a,
.bs-docs-sidebar .nav>.active:focus>a {
  font-weight: 700;
}
/* nested active links */
.bs-docs-sidebar .nav .nav>.active>a,
.bs-docs-sidebar .nav .nav>.active:hover>a,
.bs-docs-sidebar .nav .nav>.active:focus>a {
  font-weight: 500;
}
/* hide inactive nested list */
.bs-docs-sidebar .nav ul.nav {
  /*display: none;       */
}
/* show active nested list */
.bs-docs-sidebar .nav>.active>ul.nav {
  display: block;
}
.bs-docs-section {
  margin-bottom:60px;
}
.bs-docs-example {
  margin-top : 20px;
  margin-bottom : 20px;
}
