/* HYPHY VISION */
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Noto+Sans:400,400i,700,700i');

.fa-rotate-45 {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.fa-rotate-135 {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.hyphy-omega-line-reference {
    stroke: #000;
    stroke-width: 6px;
    opacity: 1;
}

/* aBSREL */
.hyphy-omega-bar line, .hyphy-omega-bar path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.hyphy-omega-line {
    stroke: #000;
    stroke-width: 6px;
}

.hyphy-axis path, .hyphy-axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.hyphy-axis-label {
    font: 18px sans-serif;
}

.hyphy-axis text {
    font: 12px sans-serif;
}

.hyphy-weight-label {
    font: 14px sans-serif;
    text-anchor: middle;
}

.hyphy-neutral-line {
    stroke-dasharray: 2,10;
    stroke: #000;
    stroke-width: 1px;
}

.hyphy-displacement-line {
    fill: none;
    stroke: #000;
    opacity: 0.7;
    stroke-width: 1.5px;
}

#hyphy-chart-image {
  display : none;
}

#hyphy-chart-canvas {
  display : none;
}

/* BUSTED */
.hyphy-busted-axis path,
.hyphy-busted-axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.hyphy-busted-area {
  fill: steelblue;
}

.hyphy-busted-site-table {
 margin-top: 20px;
}

.hyphy-busted-btn-export {
  margin: 5px;
}

.hyphy-busted-dist-export {
  margin-left: 5px;
}

.hyphy-blue {
 color: #1f77b4
}

.hyphy-red {
  color: #d62728;
}

.hyphy-navy {
  color: #001f3f;
}

#table-branch-table tr{
  cursor : pointer;
}

#hyphy-logo {
  width: 250px;
  height: 50px;
  float: left;
  margin-top: 8px;
}

.logo {
    font-family: "Noto Sans";
    font-weight: 900;
    color: #00a99d!important;
}

.fixed{
    position: fixed;
}

.nav-pills a {
    color: #00a99d;
}

.nav-pills a:hover {
    color: #7EC6B3;
}

.nav-pills > li.active > a {
    color: #fff;
    background-color: #00a99d;
}

.nav-pills > li.active > a:hover {
    background-color: #7EC6B3;
}

#summary-method-name {
    color: #00a99d;
    font-family: "Montserrat";
}

.dm-table-header {
    background-color: #00a99d;
    font-family: "Noto Sans";
    background: linear-gradient(to right,#03AA9D,#7EC6B3);
    font-family: "Noto Sans";
    color: #FFF;
    text-align: center;
    padding: 12px 5px 13px 5px;
    font-family: "Noto Sans", sans-serif;
    font-size: 15px;
    font-weight: 600;
}

.popover {
  color: #111;
}

table.dm-table > thead > tr > th,
table.dm-table > thead > th {
    font-family: "Noto Sans", sans-serif;
    color: #00a99d;
}

.hyphy-highlight {
    color: #00a99d;
}

div.main-result a {
     color: #00a99d;
}

#summary-pmid {
    color: #00a99d;
}

#input-info {
    line-height: 0;
    padding: 18px 20px 24px 23px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

div#input-info span {
    font-family: "Montserrat";
    font-weight: 700;
}

div#input-info p {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 14px;
}

.main-result{
  background-color: #fff;
  border-style: solid;
  border-width: 3px;
  border-color: #00A99D;
  padding: 20px 20px 10px 20px;
}

div.main-result p {
  font-family: "Noto Sans";
  color: #545454;
  font-size: 17px;
}

div.main-result hr {
  border-top: 2px solid #a1c6b3;
  margin-top: 10px;
  margin-bottom: 10px;
}

tbody > tr {
  background-color: #dddedf;
}

p.description {
  font-family: "Noto Sans";
  line-height: 1.5;
  font-size: 15px;
  color: #545454;
  padding: 0px 20px;
  margin: 0px 0px 20px 0px;
}

.v-align {
    float: none;
    display: inline-block;
    vertical-align: middle;
}

.popover {
  max-width: 100%;
}

/* Bootstrap-docs scroll spy */
/* sidebar */
.bs-docs-sidebar {

}
/* all links */
.bs-docs-sidebar .nav>li>a {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #777;
  letter-spacing: 0.75px;
  border-right: 3px solid #ccc;
}
/* nested links */
.bs-docs-sidebar .nav .nav>li>a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}


/* active & hover links */
.bs-docs-sidebar .nav>.active>a,
.bs-docs-sidebar .nav>li>a:hover,
.bs-docs-sidebar .nav>li>a:focus {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #00a99d;
  text-decoration: none;
  background-color: transparent;
  border-right-color: #00a99d;
}

.bs-docs-sidebar .nav>li>a:hover {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #00a99d;
  text-decoration: none;
  background-color: transparent;
  border-right-color: #aaa;
}


/* all active links */
.bs-docs-sidebar .nav>.active>a,
.bs-docs-sidebar .nav>.active:hover>a,
.bs-docs-sidebar .nav>.active:focus>a {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 500;
}
/* nested active links */
.bs-docs-sidebar .nav .nav>.active>a,
.bs-docs-sidebar .nav .nav>.active:hover>a,
.bs-docs-sidebar .nav .nav>.active:focus>a {
  font-weight: 500;
}
/* hide inactive nested list */
.bs-docs-sidebar .nav ul.nav {
  /*display: none;       */
}
/* show active nested list */
.bs-docs-sidebar .nav>.active>ul.nav {
  display: block;
}
.bs-docs-section {
  margin-bottom:60px;
}
.bs-docs-example {
  margin-top : 20px;
  margin-bottom : 20px;
}

.hyphy-row {
  margin-top: 20px;
}

@media print {
 
  #content {
    width: 100%; 
    margin: 0; 
    float: none;
  }
      
  @page { margin: 2cm }

  body {
    font: 13pt Georgia, "Times New Roman", Times, serif;
    line-height: 1.3;
    background: #fff !important;
    color: #000;
  }

  h1 {
    font-size: 24pt;
  }

  h2, h3, h4 {
    font-size: 14pt;
    margin-top: 25px;
  }    
   
  a {
    page-break-inside:avoid
  }

  blockquote {
    page-break-inside: avoid;
  }

  h1, h2, h3, h4, h5, h6 { 
    page-break-after:avoid; 
    page-break-inside:avoid 
  }

  img { page-break-inside:avoid; 
       page-break-after:avoid; 
  }

  table, pre { page-break-inside:avoid }

  ul, ol, dl  { page-break-before:avoid }
      
  a:link, a:visited, a {
    background: transparent;
    color: #520;
    font-weight: bold;
    text-decoration: underline;
    text-align: left;
  }

  a {
      page-break-inside:avoid
  }

  a[href^=http]:after {
        content:" <" attr(href) "> ";
  }

  $a:after > img {
     content: "";
  }

  a:not(:local-link):after {
     content:" <" attr(href) "> ";
  }
      
  #header:before {
    color: #777 !important;
    font-size: 1em;
    padding-top: 30px;
    text-align: center !important;    
  }

  p, address, li, dt, dd, blockquote {
    font-size: 100%
  }

  code, pre { font-family: "Courier New", Courier, mono}

  ul, ol {
    list-style: square; margin-left: 18pt;
    margin-bottom: 20pt;    
  }

  li {
    line-height: 1.6em;
  }    

  .hide-from-print {
    display:none;
  }

  nav {
    display:none;
  }
      
}.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

g {
  font: 10px sans-serif;
}

.dot1 {
  stroke: #000;
}
.dot2 {
  stroke: #000;
}
.dot3 {
  stroke: #000;
}
.dot4 {
  stroke: #000;
}
.dot5 {
  stroke: #000;
}
.dot6 {
  stroke: #000;
}
.dot7 {
  stroke: #000;
}
.dot8 {
  stroke: #000;
}
.dot9 {
  stroke: #000;
}
.dot10 {
  stroke: #000;
}
.dot11 {
  stroke: #000;
}
.dot12 {
  stroke: #000;
}
.dot13 {
  stroke: #000;
}
.dot14 {
  stroke: #000;
}
.dot15 {
  stroke: #000;
}
.dot16 {
  stroke: #000;
}
.dot17 {
  stroke: #000;
}
.dot18 {
  stroke: #000;
}
.dot19 {
  stroke: #000;
}
.dot20 {
  stroke: #000;
}

circle.property1 {
  fill: #fff;
  stroke: #000;
}

line.sep_line {
  fill: #fff;
  stroke: #000;
  stroke-width: 2;
}

circle.property2 {
  fill: #fff;
  stroke: #FF0000;
}

circle.property3 {
  fill: #fff;
  stroke: #FF7400;
}

circle.property4 {
  fill: #fff;
  stroke: #009999;
}

circle.property5 {
  fill: #fff;
  stroke: #00CC00;
}

.rule line {
  stroke: #eee;
  shape-rendering: crispEdges;
}

.rule line.axis {
  stroke: #000;
}

.grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
}
.grid path {
      stroke-width: 0;
}

.exch_rate {
  fill: #fff;
  stroke: #ccc;
}div.dc-chart{float:left}.dc-chart rect.bar{stroke:none;cursor:pointer}.dc-chart rect.bar:hover{fill-opacity:.5}.dc-chart rect.stack1{stroke:none;fill:red}.dc-chart rect.stack2{stroke:none;fill:green}.dc-chart rect.deselected{stroke:none;fill:#ccc}.dc-chart .pie-slice{fill:#fff;font-size:12px;cursor:pointer}.dc-chart .pie-slice :hover{fill-opacity:.8}.dc-chart .selected path{stroke-width:3;stroke:#ccc;fill-opacity:1}.dc-chart .deselected path{stroke:none;fill-opacity:.5;fill:#ccc}.axis line,.dc-chart .axis path{fill:none;stroke:#000;shape-rendering:crispEdges}.dc-chart .axis text{font:10px sans-serif}.dc-chart .grid-line,.dc-chart .grid-line line{fill:none;stroke:#ccc;opacity:.5;shape-rendering:crispEdges}.dc-chart .brush rect.background{z-index:-999}.dc-chart .brush rect.extent{fill:#4682b4;fill-opacity:.125}.dc-chart .brush .resize path{fill:#eee;stroke:#666}.dc-chart path.line{fill:none;stroke-width:1.5px}.dc-chart circle.dot{stroke:none}.dc-chart g.dc-tooltip path{fill:none;stroke:grey;stroke-opacity:.8}.dc-chart path.area{fill-opacity:.3;stroke:none}.dc-chart .node{font-size:.7em;cursor:pointer}.dc-chart .node :hover{fill-opacity:.8}.dc-chart .selected circle{stroke-width:3;stroke:#ccc;fill-opacity:1}.dc-chart .deselected circle{stroke:none;fill-opacity:.5;fill:#ccc}.dc-chart .bubble{stroke:none;fill-opacity:.6}.dc-data-count{float:right;margin-top:15px;margin-right:15px}.dc-data-count .filter-count,.dc-data-count .total-count{color:#3182bd;font-weight:700}.dc-chart g.state{cursor:pointer}.dc-chart g.state :hover{fill-opacity:.8}.dc-chart g.state path{stroke:#fff}.dc-chart g.deselected path{fill:grey}.dc-chart g.deselected text{display:none}.dc-chart g.county path{stroke:#fff;fill:none}.dc-chart g.debug rect{fill:#00f;fill-opacity:.2}.dc-chart g.row rect{fill-opacity:.8;cursor:pointer}.dc-chart g.row rect:hover{fill-opacity:.6}.dc-chart g.row text{fill:#fff;font-size:12px;cursor:pointer}.dc-chart .highlight,.dc-chart path.highlight{fill-opacity:1;stroke-opacity:1}.dc-legend{font-size:11px}.dc-legend-item{cursor:pointer}.dc-chart g.axis text{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;pointer-events:none}.dc-chart path.highlight{stroke-width:3}.dc-chart .fadeout{fill-opacity:.2;stroke-opacity:.2}.dc-chart path.dc-symbol{fill-opacity:.5;stroke-opacity:.5}.dc-hard .number-display{float:none}.tree-selection-brush .extent {
    fill-opacity: .05;
    stroke: #fff;
    shape-rendering: crispEdges;
}

.tree-scale-bar text {
  font: sans-serif;
}

.tree-scale-bar line,
.tree-scale-bar path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.node circle, .node ellipse, .node rect {
fill: steelblue;
stroke: black;
stroke-width: 0.5px;
}

.internal-node circle, .internal-node ellipse, .internal-node rect{
fill: #CCC;
stroke: black;
stroke-width: 0.5px;
}

.node {
font: 10px sans-serif;
}

.node-selected {
fill: #f00 !important;     
}

.node-collapsed circle, .node-collapsed ellipse, .node-collapsed rect{
fill: black !important;     
}

.node-tagged {
fill: #00f; 
}

.branch {
fill: none;
stroke: #999;
stroke-width: 2px;
}

.clade {
fill: #1f77b4;
stroke: #444;
stroke-width: 2px;
opacity: 0.5;
}

.branch-selected {
stroke: #f00 !important; 
stroke-width: 3px;
}

.branch-tagged {
stroke: #00f;
stroke-dasharray: 10,5;
stroke-width: 2px;
}

.branch-tracer {
stroke: #bbb;
stroke-dasharray: 3,4;
stroke-width: 1px;
}


.branch-multiple {
stroke-dasharray: 5, 5, 1, 5;
stroke-width: 3px;
}

.branch:hover {
stroke-width: 10px;
}

.internal-node circle:hover, .internal-node ellipse:hover, .internal-node rect:hover {
fill: black;
stroke: #CCC;
}

.tree-widget {
  text-align: center;
}





.summary-method-name {
  font-family: "Montserrat", sans-serif;
  font-size: 21px;
  color: #00a99d;
}
.results-summary {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  color: #00a99d;
  font-weight: 600;
  line-height: 1;
}
.nav-stacked {
  padding-top: 45px;
}
a:hover {
  transition: ease-in-out 175ms; 
}

li.active > a:hover {
  border-right: 3px solid #00a99d !important;
}

#tree-tab {
  margin-bottom: 20px;
}

#summary-tab {
  margin-top: -20px;
}

g > text {
  font-family: "Noto Sans", sans-serif;
  font-size: 15px !important;
  font-weight: 600;
  color: #545454 !important;
}

.nav-button {
  display: inline-block;
  padding: 0px 24px;
  height: 38px;
  margin-left: 7px;
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
  font-size: 13.5px;
  font-weight: 500;
  line-height: 38px;
  vertical-align: middle;
  letter-spacing: 0.25px;
  color: #00a99d;
  box-sizing: border-box;
  border: 1px solid #27c1a7;
}

.nav-button:active,
.nav-button:focus,
.nav-button:hover {
  background-color: #00a99d;
  text-decoration: none;
  color: #fff;
  border: 1px solid transparent;
}

/*
.nav-button::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  background-color: transparent;
}
*/

.divider {
  font-size: 21px;
  padding: 0px 10px;
  color: #91cec2;
  vertical-align: sub;
}
